header {
    width: 1940px;
    height: 130px;
   background-color:#E76C1F ;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.aot-container-section{
    width: calc(100% - 308px);
}

.aot-image-hero{
    background-image: url(/assets/img/hero/Rectangle_11.png);
    background-size: cover;
    width: 1940px;
    height: 510px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}

.aot-ellipse{
    width: 200px;
    height: 200px;

}

.aot-ellipse-container{
    display: flex;
    position: relative;
    top: 90px;
}

.restaurant-description{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 140px;
}

.the_container_con_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1940px;
}

.evaluation_logo{
    object-fit: contain;
}

.Burger_haus_name{
    display: flex;
    gap: 10px;
}

.name_of-the_haus{
   margin-top: 80px;
   margin-bottom: 20px;
   
}

.dishe-title{
    background-color: #E76C1F;
    height: 70px;
    width: 1940px;
    display: flex;
    align-items: center;
    gap: 250px;
}

.dishes_title_img{
    width: 88px;
    height: 90px;
}


.food_photo{
    height: 120px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
    
}
