
.aot-image-hero{
    background-image: url(./assets/img/hero/Rectangle_11.png);
    background-size: cover;
    width: 100%;
    height: 510px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* hier beginnt die media@uerry*/

@media(max-width: 1255px){
   .dishe_element{
    width: 610px;
   }

}

@media(max-width: 1025px){

    #basket_full{
        width: 220px;
    }
}

@media(max-width: 1150px){
    .dishe_element{
        display: flex;
        gap: 20px;
        background-color: #FDEADC;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 20px;
        margin-left: 20px;
        width: 70%;
    }
}
 
@media(max-width: 970px){
   main{
    width: 100%;
    display: flex;
    flex-direction: row;
   }
   
   nav{
    display: none;
   }
}

@media(max-width: 800px){
    .close_basket_mobile_con{
        display: flex;
        justify-content: end;
        padding-top: 10px;
    }

    .close_basket_mobile{
     border: none;
    background-color: #363534;
    color: #FDEADC;
    font-size: larger;
    }

    .basket-section{
        position: fixed;
        inset: 0;
        z-index: 9999;
        display: none;
        justify-content: center;
        align-items: baseline;
        width: auto;
        padding: 0;
        height: 500px;
    }

    .basket-section.active{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }

    #close_basket_mobile_container{
        cursor: pointer;
     display: flex !important;
   }
    

    .nav-item-aktiv{
    background-color: #363534;
    border: none;
    padding-block: 0px;
    padding-inline: 0px;
     cursor: pointer;
    opacity: 1;
    transition: 0.2s;
   }

.nav-item{
    background-color: #363534;
    border: none;
    padding-block: 0px;
    padding-inline: 0px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s;
   }

#nav-bottom{
    background-color: #363534;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    border-top: solid rgba(255,255,255,0.1);;
  }

.nav-bottom_img{
    background-color: #363534;
    color: #363534;
  }

.basket_content{
    background-color: #363534;
    width:430px;
    min-height: 640px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: sticky;
    top: 0px;
    border-radius: 20px 20px 0 0;
  }

}

@media(max-width: 960px){
    .Burger_haus_name {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-direction: column-reverse;
        margin-top: 20px;
    
    }

    .firstSection{
    width: calc(100% - 0px);
}

.the_container_con_name {
    margin-bottom: 0;
    } 
}

@media(max-width: 900px){
    .category-img {
        margin-left: 0;

    }

    .aot-image-hero{
        border-radius: 20px;

    }
  
    .dishe-title {
    background-color: #E76C1F;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0px;
    margin: 20px 0px;
    justify-content: end;
    flex-direction: column;
   }

#dishes_container{
    width: 100%;
   }

.the_footer{
    width: 100%;
    padding: 16px 64px;
    background-color: #E76C1F;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    align-items: baseline;
   }
}

@media(max-width: 700px){
    #dishes_container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .dish_img{
        padding: 0;
    }

    .hero-section{
        display: flex;
        justify-content: center;
    }
   
   header{
    margin-bottom: 20px;
   }

    .food_photo {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    padding: 5px;
   }

.dish_bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    flex-direction: row;

  }

.dish_text{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0px;
    margin-left: 5px;
  }

.dishe_element{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    }
}

@media(max-width: 500px){
.container_of_ptag{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

.basket_content{
    background-color: #363534;
    width: 340px;
    min-height: 760px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: sticky;
    top: 0px;
   }

#basket_full{
    width: 250px;
  }

.dishe-title{
    margin-bottom: 30px;
   }
}

@media(max-width: 400px){

    .footer_content{
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

#basket_full{
    width: 230px;
   }

.overlay_section{
    padding-right: 24px;
   }

#order_is_taken{
    width: 290px;
   }
}

@media(max-width: 370px){
    .basket_content{
    background-color: #363534;
    width: 270px;
    min-height: 760px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: sticky;
    top: 0px;
   }
}
    

@media(max-width: 320px){
    .dish_bottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
        flex-direction: column;
    
    }
} 

