.restaurent-logo{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 40px;
    left: 50px;
}

.dish_text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dish_bottom{
    display: flex;
}