.restaurent-logo{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 40px;
    left: 50px;
}

.item_name{
    color: white;
}

.add_to_basket_btn{
    background-color:#FDEADC ;
    border: none;
    cursor: pointer;
}

.add_to_basket_img{
    cursor: pointer;
}

.remove_pin{
    cursor: pointer;
    background-color: #FDEADC;
}

