.restaurent-logo{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 40px;
    left: 50px;
}

.item_name{
    color: white;
}

.add_to_basket_btn{
    background-color:#FDEADC ;
    border: none;
    cursor: pointer;
}

.add_to_basket_img{
    cursor: pointer;
}

.remove_pin{
    cursor: pointer;
    background-color: #FDEADC;
}

.notifaction{
    position: absolute;
    top: 2px;
    right: 6px;

    background-color: red;
    color: white;

    font-size: 12px;
    font-weight: bold;

    min-width: 18px;
    height: 18px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shopCount{
    display: none;
}
 a{
    color: white;
    text-decoration: none;

 }