.basket-section{
    width: 430px;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    
}

.basket_content{
    background-color: #363534;
    width: 430px;
    min-height: 800px;
    border-radius:20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: sticky;
    top: 0px;
}

.basket_h2{
    display: block;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.basket_title{
    margin-bottom: 20px;
}

.basket_dish_item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color: #FDEADC;
    width: 90%;
    margin: 10px 0;
  
}

.item_name{
    
    color: black;
}

.item_name_price{
    display: flex;
    justify-content: space-between;
  
}

.d_none{
    display: none !important;
}

.shop_cart_img{
    height: 120px;
    width: 120px;
}

.basket_h3{
    color: white;
}

.order_button_con{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 20px;
}

.buy_button{
    background-color:#E76C1F;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
}

#basket_empty{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center
}

#basket_items{
    overflow: auto;
    height: 500px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#basket_full{
    width: 300px;
}

.category-img{
    margin-left: 100px;
}

#close_basket_mobile_container{
     display:none ;
}