.basket-section{
    width: 300px;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    
}

.basket_content{
    background-color: #363534;
    width: 100%;
    height: 800px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.baket_h2{
    display: block;
    color: white;
    margin-bottom: 20px;
}

.basket_title{
    margin-bottom: 20px;
}

.basket_dish_item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color: #FDEADC;
    width: 90%;
    margin: 10px 0;
  
}

.item_name{
    
    color: black;
}

.item_name_price{
    display: flex;
    justify-content: space-between;
  
}

.d_none{
    display: none !important;
}

.shop_cart_img{
    height: 120px;
    width: 120px;
}

.basket_h3{
    color: white;
}

.order_button_con{
    display: flex;
    flex-direction: column;
    color: white;
}

.buy_button{
    background-color:#E76C1F;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
}

#basket_empty{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center
}