.basket-section{
    width: 300px;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    
}


.food_photo{
    height: 120px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
    
}

#dishes_container{
    padding-top: 20px;
    padding-left: 100px;
    width: 710px;
}

.dishe_element{
    display: flex;
    gap: 30px;
    background-color: #FDEADC;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.dish_img{
    padding:5px
}

.basket_content{
    background-color: #363534;
    width: 100%;
    height: 710px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.baket_h2{
    color: white;
    position: relative;
    top: 20px;
}

.basket_title{
    margin-bottom: 20px;
}

.dish_bottom{
    display: flex;
    flex: 1;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    gap: 30px;

}

.price_class{
    padding-right: 30px;
}

.dish_text{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.add_to_basket_btn{
    background-color:#FDEADC ;
    border: none;
    cursor: pointer;
}

