:root{
    --orange_background_color: #E76C1F;
    --div_container_bg-color:#FDEADC;
    --basket_container_bg-color: #FDEADC;
}

* {
    box-sizing: border-box;
    margin: 0px;
    
}

body{
   width: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}

h1{
    font-family: palanquin;
    font-size: xxx-large;
}

.logo_name .haus{
    color: #E76C1F;
}

h2{
    font-family: palanquin;
    font-size: xx-large;
    color: black;

}

.ptag_haus{
    font-size: larger;
}

header {
    width: 100%;
    height: 130px;
   background-color:#E76C1F ;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

footer{
    width: 100%;
    padding: 16px 64px;
    background-color:#E76C1F;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;

}

.footer_content{
    display: flex;
    gap: 30px;
}

.ptag_footer{
    color: white;
    font-size: larger;
    font-weight: bold;
}

nav{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    right: 25px;
}

nav .bar{
   display: block;
   width: 100%;
   height: 3px;
   background-color: white;
}