:root{
    --orange_background_color: #E76C1F;
    --div_container_bg-color:#FDEADC;
    --basket_container_bg-color: #FDEADC;
}

* {
    box-sizing: border-box;
    margin: 0px;
    
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    margin: 0, auto;
    padding: 32px 24px;
    max-width: 1440px;

}

.the_footer{
    width: 100%;
    padding: 16px 64px;
    background-color:#E76C1F;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;

}

.firstSection{
    width: calc(100% - 430px);
}

.footer_content{
    display: flex;
    gap: 30px;
}

.ptag_footer{
    color: white;
    font-size: larger;
    font-weight: bold;
}

.aot-container-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
   background-color:#E76C1F ;
   height: 130px;
}

h1{
    font-family: palanquin;
    font-size: xxx-large;
}

.logo_name .haus{
    color: #E76C1F;
}

h2{
    font-family: palanquin;
    font-size: x-large;
    color: black;

}

.ptag_haus{
    font-size: larger;
}

.dishes_section{
    display: flex;
    justify-content: space-between;
}
.aot-ellipse{
    width: 200px;
    height: 200px;

}

.aot-ellipse-container{
    display: flex;
    position: relative;
    top: 90px;
}

.restaurant-description{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 140px;
}

.the_container_con_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.evaluation_logo{
    object-fit: cover;
    width: 100px;
    height: 24px;
    display: flex;
    border-radius: 10px;

}

.Burger_haus_name{
    display: flex;
    align-items: baseline;
    gap: 10px;
    justify-content: center;
}

.name_of-the_haus{
   margin-top: 80px;
   margin-bottom: 20px;
   
}

.dishe-title{
    background-color: #E76C1F;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;
}

.dishes_title_img{
    width: 88px;
    height: 90px;
}

.category_name{
    color: white;
}

.food_photo{
    height: 120px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
    
}

.dishe_element{
    display: flex;
    gap: 30px;
    background-color: #FDEADC;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 100px;
    width: 710px;
}

.dish_img{
    padding:5px
}

.dish_bottom{
    display: flex;
    flex: 1;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    gap: 30px;

}

.price_class{
    padding-right: 30px;
}

.dish_text{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

#order_is_taken{
    position: fixed;
    background-color: #363534;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
}

#order_is_taken p{
    color: white;
    font-size: 24px
}

.order_container_x{
   display: flex;
   justify-content: end; 
   margin-right: 5px;
}

.overlay_section{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}


#overlay_sec{
    display: none;
}

#nav-bottom{
    display: none;
}

#burger_category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pizza_category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#salat_category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
